# Database Configuration
DB_CONNECTION=mysql
DB_HOST=192.168.1.100
DB_PORT=3306
DB_DATABASE=mtsn1pandeglang
DB_USERNAME=mtsn1pandeglang
DB_PASSWORD=18012000

# Google Auth
PUBLIC_GOOGLE_CLIENT_ID=33203236150-amm5kr16pc5pds6vmmsknd4rec3tplur.apps.googleusercontent.com
ADMIN_EMAIL=dev.mtsn1pandeglang@gmail.com